/*
Color Palette

#F7FFF7 - almost white
#343434 - dark grey - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light

*/


/* Global Styles
--------------------------------------*/

body{
    color: #343434;
    margin: 0;
}

header{
    background: #2F3061;
    color: #F7FFF7;
}

a{
    color: #FFE66D;
}

a:hover{
    text-decoration: none;
}

h2 {
    margin: 0;
}
.content-wrap{
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

/* Projects
--------------------------------------*/
.projects {
    background: #F7FFF7;
}

.projects a {
    color: #2F3061;
}

.projects .btn{
    color: #F7FFF7;
    background: #2F3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover{
    background-color: rgba( 47, 48, 97, 80%);
}

/* Work Experience
--------------------------------------*/
.work-experience {
    background: #A1C6D7;
}

/* Education
--------------------------------------*/
.education {
    
}

.education .btn{
    color: #F7FFF7;
    background: #2F3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.education .btn:hover{
    background-color: rgba( 47, 48, 97, 80%);
}

img {
    width: 300px;
}

/* Footer
-------------------------------------*/
footer{
    background: #343434;
    color: #F7FFF7;
}